@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
.check{
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    width: 892px;
    height: 795px;
    top: 186px;
    right: 286px;
    bottom: 189px;
    left: 262px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 15px 35px 0px rgba(43, 64, 78, 0.10);
}
.check0{
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 795px;
    
}

.out{
    color: #1D2C3C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    vertical-align: top;
    width: 161px;
    height: 54px;
}
.check2{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 255px;
    border-bottom: 2px solid #F5F7FA;
    
}
.one{
    width: 187px;
    height: 17px;
}
.stal{
    width: 227px;
    height: 17px;
}
.liam{
    width: 187px;
    height: 17px;
}
.pyo{
    margin: 35px 0px 27px 89px;
    width: 246px;
    height: 22px;
    color: #1D2C3C;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.16px;
}
.card{
    width: 187px;
    height: 17px;
    margin: 0px 0px 7px 49px;
}
.check3{
    border-bottom: 2px solid #F5F7FA;
    height: 187px;
}

.pusher{
    width: 483px;
    height: 52px;
    padding: 13px 0px 17px 0px;
    border-radius: 5px;
    background: #038E7D;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.396px;
    margin: 39px 48px 24px 49px;
}
.mask{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 677px;
    right: 748px;
    bottom: 98px;
    left: 124px;
}
.help{
    margin: 0px 123px 0px 154px;
    color: #646E7A;

}
.any{
    color:#1D2C3C

}
.stripe{
    width: 92px;
    height: 20.101px;
    margin: 18px 242px 46.9px 246px;
}